* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f2f2f2;
}

/*Estilos del Header*/
.header-container, .login-container, .footer-container {
  margin: auto;
  max-width: 1200px;
  width: 90%;
  background-color: white;
  border: 10px solid #f2f2f2;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
}

header {
  padding: 1em;
  background-color: white;

  display: flex;
  flex-basis: 90%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-container{
  padding: 1em;
  flex-basis: auto;
  justify-content: space-around;

  display: flex;
  flex-flow: row wrap;
}

div{
  padding: 1em;
  display: flex;
}

/*
Estilos de Registro
*/
label, input {
  padding: 15px;
  display: inline-block;
  border: none;
}

input[type=text], input[type=password] {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
}

label {
  font-weight: bold;
}

button {
  padding: 16px 20px;
  cursor: pointer;
  width: 50%;
  align-self: center;
}

/*Estilos del Footer*/
  .footer-container{
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
  }
